* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

body {
    background-color: #010101;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gamescreen {
    position: relative;
    width: 100vw;
    height: 40vw;
    background: linear-gradient(#020202, #08080b);
    overflow: hidden;
}

.camera {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: perspective(1000px) translateZ(1000px) rotateX(90deg);
    transition: top 0.2s ease-out;
}

#map {
    position: absolute;
    width: 8000px;
    height: 8000px;
}
#floor {
    width: 100%;
    height: 100%;
    background-image: url(img/grass.png);
    background-size: 1000px;
}

#slender {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
#slender img {
    position: absolute;
    top: -75%;
    width: 50px;
    height: 125px;
}

#test {
    color: #fff;
    z-index: 100; 
}

#light {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 110vw;
    height: 110vh;
    background-image: url(img/dark.png);
    background-size: 110vw 110vh;
    opacity: 0.998;
    z-index: 100;
    transform: perspective(1000px) translateZ(-1px) translate(-50%, -50%);
}